.img-logo{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.p-1 {
  padding: 0.8rem;
}

.mb-03{
  margin-bottom: 0.3rem;
}

.panel {
  border: 1px solid #D9DDE2;
  background-color: #fafafb;
  border-radius: 4px;
}

.card-job {
  margin-bottom: 0.3rem;
}

.card-phone{
  font-size: 11px;
  font-style: italic;
  color: #96a2a7;
  margin-bottom: 0.2rem;
}

.card-mail{
  font-size: 11px;
  font-style: italic;
  color: #96a2a7;
  margin-bottom: 0.2rem;
}
